    </main>
    <footer>
        <div class ="container">
            <p>Copyright Team SOLID - Clash of Clans© <%= new Date().getFullYear() %></p>
        </div>
        
    </footer>
</body>
</html>